@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.148 0.004 228.8);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.148 0.004 228.8);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.148 0.004 228.8);
    --primary: oklch(0.52 0.105 223.128);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.963 0.002 197.1);
    --muted-foreground: oklch(0.56 0.021 213.5);
    --accent: oklch(0.963 0.002 197.1);
    --accent-foreground: oklch(0.218 0.008 223.9);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.925 0.005 214.3);
    --input: oklch(0.925 0.005 214.3);
    --ring: oklch(0.723 0.014 214.4);
    --chart-1: oklch(0.872 0.007 219.6);
    --chart-2: oklch(0.56 0.021 213.5);
    --chart-3: oklch(0.45 0.017 213.2);
    --chart-4: oklch(0.378 0.015 216);
    --chart-5: oklch(0.275 0.011 216.9);
    --radius: 0.625rem;
    --sidebar: oklch(0.987 0.002 197.1);
    --sidebar-foreground: oklch(0.148 0.004 228.8);
    --sidebar-primary: oklch(0.609 0.126 221.723);
    --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
    --sidebar-accent: oklch(0.963 0.002 197.1);
    --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
    --sidebar-border: oklch(0.925 0.005 214.3);
    --sidebar-ring: oklch(0.723 0.014 214.4);
  }
  .dark {
    --background: oklch(0.148 0.004 228.8);
    --foreground: oklch(0.987 0.002 197.1);
    --card: oklch(0.218 0.008 223.9);
    --card-foreground: oklch(0.987 0.002 197.1);
    --popover: oklch(0.218 0.008 223.9);
    --popover-foreground: oklch(0.987 0.002 197.1);
    --primary: oklch(0.45 0.085 224.283);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.275 0.011 216.9);
    --muted-foreground: oklch(0.723 0.014 214.4);
    --accent: oklch(0.275 0.011 216.9);
    --accent-foreground: oklch(0.987 0.002 197.1);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.56 0.021 213.5);
    --chart-1: oklch(0.872 0.007 219.6);
    --chart-2: oklch(0.56 0.021 213.5);
    --chart-3: oklch(0.45 0.017 213.2);
    --chart-4: oklch(0.378 0.015 216);
    --chart-5: oklch(0.275 0.011 216.9);
    --sidebar: oklch(0.218 0.008 223.9);
    --sidebar-foreground: oklch(0.987 0.002 197.1);
    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
    --sidebar-accent: oklch(0.275 0.011 216.9);
    --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.56 0.021 213.5);
  }
  .theme {
    --font-sans: var(--font-sans);
    --font-heading: var(--font-heading);
  }

  * {
    @apply border-border outline-none ring-0;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }

  .illuminate {
    content: "";
    position: absolute;
    background-image: radial-gradient(
      50% 31.3% at 50% 50%,
      rgba(255, 255, 255, 0.15) 0%,
      #0d0e12,
      rgb(13, 14, 18) 100%
    );
    border-radius: 200px;
    bottom: 30px;
    filter: blur(50px);
    flex: none;
    height: 150px;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    z-index: 0;
  }

  .feature::before {
    display: none;
    content: "";
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, black, white, black);
    position: absolute;
    top: 0;
    left: calc(100%);
  }

  .card {
    color: #8a8f98;
    background: radial-gradient(
      80.6% 40.3% at 100% 36%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }

  .testimonials::before,
  .testimonials::after {
    position: absolute;
    content: "";

    width: 7px;
    height: 100%;
    background-color: black;
    backdrop-filter: blur(8px);
    z-index: 1;
    box-shadow: 11px 0px 20px 18px rgba(0, 0, 0, 0.6);
  }

  .testimonials::before {
    top: 0;
    left: 0;
  }

  .testimonials::after {
    top: 0;
    right: 0;
  }

  .scale {
    background: radial-gradient(
      86.8056% 75% at 81.4% 103.5%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }

  .pancake {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

  .plan {
    background: radial-gradient(
      75% 50% at 50% 100%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }

  .cross::before,
  .cross::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #55565a;
    transform: translate(-50%, -50%);
  }

  .cross::before {
    width: 1px;
    height: 100%;
  }

  .cross::after {
    width: 100%;
    height: 1px;
  }

  .secured {
    background: radial-gradient(
      50% 50% at 40.2% 100%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }

  .subscribe {
    background: radial-gradient(
      50% 28.799999999999997% at 50% 0%,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
  @media screen and (min-width: 1024px) {
    .feature::before {
      display: block;
    }
  }
}
